# Auto detect text files and perform LF normalization
* text=auto

# Java
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Maven wrapper
mvnw text eol=lf
mvnw.cmd text eol=crlf

# Binaries
*.jar binary
*.war binary
*.class binary
*.png binary
*.jpg binary
*.gif binary